<!-- index.njk -->
{% include "head.njk" %}
{% include "header.njk" %}
<main>
    <div class="content">
        <h2>Infos</h2>
        <p>Alle Informationen dieser Webseite findest du in folgendem GitHub Repository:</p>
        <div class="button-container">
            <a href="https://github.com/dfahrni/gruppenarbeit1" class="button github">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo">
            </a>
        </div>
    </div>
    <div class="content">
        <h2>Interesse an der Erstellung einer Webseite?</h2>
        <p>Falls du Interese hast, eine solche Webseite zu erstellen, drücke auf den folgenden Link und melde dich für die Weiterbildung bei der TEKO an!</p>
        <div class="button-container">
            <a href="https://www.teko.ch/technik/hoehere-fachschule/informatik-systemtechnik/4656#open-accordions=description&" class="button pink">TEKO</a>
        </div>
    </div>
</main>
{% include "footer.njk" %}