<!-- _includes/head.njk -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="Testseite, Gruppenarbeit, GitHub, TEKO, Weiterbildung">
    <meta name="author" content="Agon Thaqi, Daniel Fahrni">
    <link rel="stylesheet" href="styles.css">
</head>
<body>